/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.icon_svg__miscellaneous-gutenberg-blocks-flexbox-icon {
	fill: none !important;
	stroke: #2c817b !important;
}

.wp-block-miscellaneous-gutenberg-blocks-flexbox {
	display: flex;
	padding: 10px;
	box-sizing: border-box;
	.pick-column-count {
		width: 100%;
		display: flex;
		gap: 20px;
		justify-content: space-between;
		> * {
			display: flex;
			flex-grow: 1;
			justify-content: center;
			align-items: center;
			height: 50px;
			font-size: 20px;
			font-weight: 500;
			font-family: sans-serif;
			cursor: pointer;
		}
	}
}
