/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.icon_svg__miscellaneous-gutenberg-blocks-box-icon {
	fill: none !important;
	stroke: #f00d8d !important;
}
.wp-block-miscellaneous-gutenberg-blocks-box {
	background: rgba(255, 255, 255, 0.8);

	.flexbox-box-wrapper {
		padding: 10px;
		.block-editor-inner-blocks {
			width: 100%;
		}
		.flex-child-appender {
			* {
				width: 100%;
			}
		}
	}
}
