/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.icon_svg__miscellaneous-gutenberg-blocks-box-icon {
	fill: none !important;
	stroke: #2c817b !important;
}
.wp-block-miscellaneous-gutenberg-blocks-box {
	.miscellaneous-gutenberg-blocks-box--wrapper {
		padding: 10px;
	}
}
.miscellaneous-gutenberg-blocks-box--wrapper {
	width: 100%;
	.block-editor-inner-blocks {
		width: 100%;
	}
	.miscellaneous-gutenberg-blocks-box--appender {
		* {
			width: 100%;
		}
	}
}
